@model IEnumerable<CDF.Web.Models.FormViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>

<div class="block-header">
    <h4 class="error-message">@TempData["error"]</h4>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <br /><br />
            @Ajax.ActionLink("Create New Form", "CreateForm", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" }, new { @class = "btn btn-primary" })<br />
            <br /><br /> <br />
        </div>
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created User</th>
                                <th>Created Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                       @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.createdBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.createdAt)
                                    </td>
                                    <td>
                                        <a href="#" data-id="@item.Id" class="frm btn btn-success universalWidth">Add Field</a>

                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-md btn-teal" })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function openPopup() {
            $("#result").dialog("open");
        }

        @*var baseUrl = '@Url.Action("/Field/AddField")';
            $('.frm').click(function(){
                var id = $(this).data('id');
                //var quantity = $(this).closest('tr').find('.quantity').val();
                location.href = '/Field/AddField?id=' + id;
        });*@

        $('.frm').click( function () {
            var id = $(this).data('id');
            var url = "/Field/AddField?id=" + id;
            window.location.href = url;
        })

        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}


