@model CDF.Web.Models.FormViewModel

@{
    ViewBag.Title = "GetForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.EditorFor(model => model.name)
        </td>
        <td>
            @Html.EditorFor(model => model.description)
        </td>
        <td>
            @Html.EditorFor(model => model.createdAt)
        </td>
        <td>
            @Html.EditorFor(model => model.createdBy)
        </td>
        <td></td>
    </tr>*@
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row clearfix">
        <div class="">
            <div class="card">

                <div class="body">
                    @foreach (var item in Model.fields)
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="body">
                            <div class="input-group">
                                @if (item.required)
                                {
                                    if (item.dataType == "STRING")
                                    {
                                        @Html.DisplayFor(modelItem => item.name)
                                        <input type="text" id="name" value="" />
                                    }
                                    if (item.dataType == "NUMBER")
                                    {
                                        @Html.DisplayFor(modelItem => item.name)
                                        <input type="number" id="num" value="" />
                                    }
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    if (item.dataType == "STRING")
                                    {
                                        @Html.DisplayFor(modelItem => item.name)
                                        <input type="text" id="name" value="" />

                                    }
                                    if (item.dataType == "NUMBER")
                                    {
                                        @Html.DisplayFor(modelItem => item.name)
                                        <input type="number" id="num" value="" />
                                    }

                                }
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div>
                            <a href="#" data-id="model-id" class="addfld btn btn-success universalWidth">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

